<nav class="header-menu">
    <div class="header-menu__inner">
        <div class="header-menu__logo">
            <h2><a href="/">PrudProducts</a></h2>
        </div>
        <div class="header-menu__nav">
            <ul>
                <li><a href="admin/">Admin</a></li>
                <li><a href="{% url "bestsellers" %}">Bestsellers</a></li>
                <li><a href="">News</a></li>
                <li><a href="">About us</a></li>
                <li><a href="">Careers</a></li>
                <li><a href="">Contacts</a></li>
            </ul>
        </div>
    </div>
</nav>